<%= link_to 'Add a group', new_group_path %>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>


<ul>
  <% @groups.each do |group| %>
    <li><%= link_to group.name, group %></li>
  <% end %>
</ul>



