<h1><%= @user.email %></h1>

<% if current_user != @user %>
  <% if current_user.following? @user %>
    <%= button_to "Unfollow #{@user.email}",
      unfollow_user_path(@user), method: :delete %>
  <% else %>
    <%= button_to "Follow", follow_user_path(@user) %>
  <% end %>
<% end %>

<div class="thumbs">
  <%= render @images %>
</div>

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"></script>

  <script>
  var handler = StripeCheckout.configure({
    
    image: "<%= asset_url('turtle.png') %>"
    
  });
</script>
<% end %>
